* {

  margin: 0;

  padding: 0;

  font-family: 'Space Grotesk', sans-serif;

  box-sizing: border-box;

}

html {

  top: 0;

  left: 0;

  scroll-behavior: smooth;

}

body {

  font-family: 'Space Grotesk', sans-serif;

  font-size: 15px;

  color: #fff;

  padding: 0;

  height: 200vh;

  margin: 0;

  background: #111;

  overflow: hidden;

}

header {

  background: #000;

  position: fixed;

  width: 100%;

  height: 85px;

  float: left;

  border-bottom: 1.25px #111 solid;

  z-index: 100;

  box-shadow: 0px 8px 40px 2px rgba(0, 0, 0, 0.75)

    /**rgba(252, 0, 73, 0.9);**/

}

.homepage{

  position: absolute;

  top: 170px;

  left:0;

  background: black;

  width: 80%;

  height: 180vh;

  margin-right: 10%;

  margin-left: 10%;

}

.rslides {

  position: absolute;

  list-style: none;

  overflow: hidden;

  top: 0px;

  left: -8px;

  width: 98%;

  height: 50vh;

  margin: 10px;

  background: #000;

  transition: 0.5s ease;

}

.rslides li {

  position: absolute;

  display: none;

  width: 100%;

  left: 0;

  top: 0;

  backface-visibility: hidden;

  -webkit-backface-visibility: hidden;

}

.rslides li:first-child {

  position: relative;

  display: block;

  float: left;

}

.rslides li:active {

  height: 40vh;

  width: 100%;

  top: 60px;

  left: 0;

}

.rslides img {

  position: absolute;

  display: block;

  float: left;

  width: 110%;

  height: 60vh;

  background-size: cover;

  filter: contrast(175%);

  filter: saturate(150%);

  filter: brightness(125%);

  object-fit: cover;

  overflow: hidden;

  border: 0;

  z-index: 1;

  border: 3px #000 solid;

  /**border-right: none;

    border-left: none;**/

  border-radius: 5px;

  left: 0;

  transition: 0.5s ease;

}

.logo {

  position: absolute;

  text-decoration: none;

  text-transform: uppercase;

  top: 10px;

  left: 3px;

  /**color: #ff0029;**/

  font-weight: 800;

  width: 4.125rem;

  height: 3.125rem;

  opacity: 0;

  animation: fadeIn 0.6s linear forwards;

  animation-delay: .15s;

  color: #ff0029;

  font-size: 30px;

}

@keyframes fadeIn {

  0% {

    opacity: 0;

    transform: scale(0);

  }

  100% {

    opacity: 1;

    transform: scale(1.1);

  }

}

#svg {

  position: relative;

  top: -5%;

  left: 0.0625;

  height: 3.1rem;

  width: 3.1rem;

}

.logo_txt {

  position: absolute;

  text-decoration: none;

  text-transform: uppercase;

  top: 50%;

  left: 10%;

  /**color: #ff0029;**/

  width: 50px;

  height: auto;

}

.txt {

  position: relative;

  margin: 0;

  user-select: none;

  text-transform: uppercase;

  text-decoration: none;

  color: white;

  overflow-wrap: break-word;

  /*-webkit-text-fill-color: transparent;

    -webkit-text-stroke: 2px white;*/

  font-weight: 600;

  letter-spacing: 1.25px;

  font-size: 1.29rem;

  width: 90px;

  height: auto;

  opacity: 0;

  animation: logo_anim 0.45s linear forwards;

  animation-delay: 1s;

}

@keyframes logo_anim {

  0% {

    opacity: 0;

    transform: translateX(-20px);

  }

  100% {

    opacity: 1;

    transform: translateX(0);

  }

}

.txt span {

  color: #ff0040;

  font-size: 0.7rem;

  transform: rotate(270deg);

  display: block;

  position: relative;

  left: 28px;

  bottom: 3.35rem;

}

.full_logo {

  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

}

.toggle {

  position: absolute;

  top: 0;

  right: 0;

  text-align: center;

  color: #fff;

  z-index: 101;

  background: #ffffff00;

  transform: translate(-50%, -50%);

  -webkit-transform: translate(-50%, -50%);

  -moz-transform: translate(-50%, -50%);

  -ms-transform: translate(-50%, -50%);

  -o-transform: translate(-50%, -50%);

  width: 40px;

  height: 30px;

  overflow: visible;

  animation: menu_anim .4s linear forwards;

  opacity: 0;

  text-shadow: 0 0 10px #fff, 0 0 20px #fff;

  animation-delay: .25s;

  -webkit-tap-highlight-color: #ffffff00;

}

@keyframes menu_anim {

  0% {

    opacity: 0;

    transform: scale(0)

  }

  100% {

    opacity: 1;

    transform: scale(1.2);

    top: 40%;

    right: 10%;

    transform: scaleX(-1);

  }

}

.toggle span {

  top: 50%;

  left: 50%;

  transform: translate(-50%, -50%);

  padding-left: 5px;

  padding-top: 5px;

  display: block;

  width: 40px;

  height: 40px;

  text-align: center;

  font-size: 10px;

  line-height: 30px;

  transition: 0.5s;

  -webkit-transition: 0.5s;

  -moz-transition: 0.5s;

  -ms-transition: 0.5s;

  -o-transition: 0.5s;

  transform: scale(1.2);

}

.toggle span:nth-child(2) {

  background: transparent;

  color: #ff0040;

  padding-top: 8px;

  opacity: 0;

  transform: scaleX(-1.5);

  text-shadow: 0 0 20px #ff0040, 0 0 30px #ff0040, 0 0 40px #ff0040, 0 0 55px #ff0040, 0 0 75px #ff0040, 0px 0px 14px #ff0040;

}

.toggle span.active {

  display: block;

  opacity: 1;

  transform: scale(1.2);

  transform: translateY(-100%);

  -webkit-transform: translateY(-100%);

  -moz-transform: translateY(-100%);

  -ms-transform: translateY(-100%);

  -o-transform: translateY(-100%);

}

.menu {

    position: fixed;

    left: -100%;

    width: 100%;

    border: 2px solid #000;

    border-bottom: 2px solid #ff0029;

    border-radius: 4px;

    height: 100%;

    top: 0;

    background: #1a1a1a;

    opacity: 0;

    transition: 0.5s ease-in-out;

}

.menu.active {

    z-index: 100;

    width: 100%;

    height: 100%;

    background: #000;

    position: fixed;

    transition: 0.5s ease-in-out;

    top: 0;

    left: 0;

    opacity: 1;

}

.menuContents {

    top: 50%;

    left: 50%;

    transform: translate(-50%, -50%);

    width: 100px;

    height: 220px;

    position: relative;

}

.menuContents a {

    text-decoration: none;

    display: block;

    font-weight: 900;

    color: #818181;

    margin-bottom: 25px;

    font-family: 'Etna', sans-serif;

    letter-spacing: 2px;

    font-size: 1.62rem;

    /*1.695rem;*/

    text-align: center;

    width: auto;

    user-select: none;

    height: auto;

    text-transform: uppercase;

    transition: all .225s ease-in-out;

    /*text-shadow: 0 0 10px #616161, 0 0 20px #222;

    -webkit-text-fill-color: #ffffff00;

    -webkit-text-stroke-width: .7px;*/

    -webkit-tap-highlight-color: #ffffff00;

}

.menuContents a:hover {

    color: #fff;

    -webkit-text-fill-color: #fff;

    font-weight: 900;

    transition: all 0.25s ease-in-out;

    transform: scale(1.15);

    letter-spacing: 2px;

}

.social {

    position: absolute;

    z-index: 500;

    width: auto;

    height: auto;

    bottom: 0;

    right: 0;

    margin-bottom: 15px;

    margin-right: 15px;

    text-align: bottom;

}

.social a {

    text-decoration: none;

    display: inline-block;

    margin-right: 6px;

    font-size: 20px;

    padding: 9px;

    border-radius: 50%;

    background: #222;

    color: #717171;

    width: auto;

    user-select: none;

    height: auto;

    transition: all .325s ease-in-out;

    /*text-shadow: 0 0 10px #616161, 0 0 20px #222;

    -webkit-text-fill-color: #ffffff00;

    -webkit-text-stroke-width: .7px;*/

    -webkit-tap-highlight-color: #ffffff00;

}

.social a:hover {

    color: #ff0040;

    transition: all 0.5s ease-in-out;

    transform: scale(1.05);

}

